<!DOCTYPE html>
<!-- saved from url=(0032)http://localhost:4567/index.html -->

          <!-- Article title, domain of the link, points, user who submitted, number of comments-->
    <div id = "article_list"> <!--starting with more "sementic" feel -->
      <p class = "spacing"></p>
      <p class = "title">
        1.<img class = "arrow" src ="https://news.ycombinator.com/grayarrow.gif" alt="upvote arrow"/><a class = "post_title" href = "http://www.businessinsider.com/linkedin-earnings-q4-2016-2">LinkedIn shares drop 40%, erasing $10B of company's value</a>
      <span class = "domain">
        (businessinsider.com)
      </span></p>
      <p class = "post_info">
        786 points by <a href ="www.slackernews.com/user?id=danso">danso</a> <a href = "www.slackernews.com/item?id=12345">14 hours ago</a> | <a href = "www.slackernews.com/item?id=12345">498 comments</a>
      </p>
      <p class = "spacing"></p>

      <p class = "title">
        2.<img class = "arrow" src ="https://news.ycombinator.com/grayarrow.gif" alt="upvote arrow"/><a class = "post_title" href = "http://nautil.us/issue/33/attraction/your-next-new-best-friend-might-be-a-robot">Your Next New Best Friend Might Be a Robot</a>
      <span class = "domain">
        (nautil.us)
      </span></p>
      <p class = "post_info">
        83 points by <a href ="www.slackernews.com/user?id=jonbaer">jonbaer</a> <a href = "www.slackernews.com/item?id=12346">9 hours ago</a> | <a href = "www.slackernews.com/item?id=12346">37 comments</a>
      </p>
      <p class = "spacing"></p>


        <p class = "title">
          3.<img class = "arrow" src ="https://news.ycombinator.com/grayarrow.gif" alt="upvote arrow"/><a class = "post_title" href = "http://www.reddit.com">Reddit!</a>
        <span class = "domain">
          (reddit.com)
        </span></p>
        <p class = "post_info">
          9001 points by <a href ="www.slackernews.com/user?id=aLuu">aLuu</a> <a href = "www.slackernews.com/item?id=1">20 hours ago</a> | <a href = "www.slackernews.com/item?id=1">1337 comments</a>
        </p>
        <p class = "spacing"></p>


        <p class = "title">
          4.<img class = "arrow" src ="https://news.ycombinator.com/grayarrow.gif" alt="upvote arrow"/><a class = "post_title" href = "http://phys.org/news/2016-01-material-cheaper-alternative-smart-windows.html">Material may offer cheaper alternative to smart windows</a>
        <span class = "domain">
          (phys.org)
        </span></p>
        <p class = "post_info">
          3 points by <a href ="www.slackernews.com/user?id=fantastickmath">fantastickmath</a> <a href = "www.slackernews.com/item?id=12">4 hours ago</a> | <a href = "www.slackernews.com/item?id=12">2 comments</a>
        </p>
        <p class = "spacing"></p>


        <p class = "title">
          5.<img class = "arrow" src ="https://news.ycombinator.com/grayarrow.gif" alt="upvote arrow"/><a class = "post_title" href = "http://reason.com/archives/2016/02/05/the-new-nuclear-energy-revolution">New Nuclear Energy Revolution: New tech bends the nuclear cost curve down</a>
        <span class = "domain">
          (reason.com)
        </span></p>
        <p class = "post_info">
          3 points by <a href ="www.slackernews.com/user?id=cavehobbit">cavehobbit</a> <a href = "www.slackernews.com/item?id=123">4 hours ago</a> | <a href = "www.slackernews.com/item?id=123">1 comment</a>
        </p>
        <p class = "spacing"></p>


        <p class = "title">
          6.<img class = "arrow" src ="https://news.ycombinator.com/grayarrow.gif" alt="upvote arrow"/><a class = "post_title" href = "http://www.sciencedaily.com/releases/2016/02/160204151624.htm">A new-generation exoskeleton helps the paralyzed walk and is fairly affordable at $40,000.</a>
        <span class = "domain">
          (sciencedaily.com)
        </span></p>
        <p class = "post_info">
          32 points by <a href ="www.slackernews.com/user?id=Alantha">Alantha</a> <a href = "www.slackernews.com/item?id=43">1 day ago</a> | <a href = "www.slackernews.com/item?id=43">7 comment</a>
        </p>
        <p class = "spacing"></p>


        <p class = "title">
          7.<img class = "arrow" src ="https://news.ycombinator.com/grayarrow.gif" alt="upvote arrow"/><a class = "post_title" href = "http://variety.com/2016/digital/news/youtube-first-original-movies-pewdiepie-show-1201695813/">YouTube Set to Premiere First Original Movies, PewDiePie Series</a>
        <span class = "domain">
          (variety.com)
        </span></p>
        <p class = "post_info">
          1 point by <a href ="www.slackernews.com/user?id=stormforce7916">stormforce7916</a> <a href = "www.slackernews.com/item?id=513">2 days ago</a> | <a href = "www.slackernews.com/item?id=513">0 comment</a>
        </p>
        <p class = "spacing"></p>


        <p class = "title">
          8.<img class = "arrow" src ="https://news.ycombinator.com/grayarrow.gif" alt="upvote arrow"/><a class = "post_title" href = "https://hbr.org/2016/02/apples-shrinking-impact-in-the-smartphone-industry">Apple's Shrinking Impact in the Smartphone Industry</a>
        <span class = "domain">
          (hbr.org)
        </span></p>
        <p class = "post_info">
          3 points by <a href ="www.slackernews.com/user?id=google">google</a> <a href = "www.slackernews.com/item?id=1135">4 days ago</a> | <a href = "www.slackernews.com/item?id=1135">0 comments</a>
        </p>
        <p class = "spacing"></p>


        <p class = "title">
          9.<img class = "arrow" src ="https://news.ycombinator.com/grayarrow.gif" alt="upvote arrow"/><a class = "post_title" href = "http://techcrunch.com/2016/01/05/cortana-cyanogen/">Microsoft's Cortana Gets Baked Into Cyanogen's Forked Version Of Android</a>
        <span class = "domain">
          (techcrunch.com)
        </span></p>
        <p class = "post_info">
          31 points by <a href ="www.slackernews.com/user?id=liver1000">liver1000</a> <a href = "www.slackernews.com/item?id=764">7 days ago</a> | <a href = "www.slackernews.com/item?id=764">10 comments</a>
        </p>
        <p class = "spacing"></p>


        <p class = "title">
          10.<img class = "arrow" src ="https://news.ycombinator.com/grayarrow.gif" alt="upvote arrow"/><a class = "post_title" href = "http://www.technologyreview.com/news/546286/is-facebook-about-to-kill-off-twitter/">Struggling to Grow, Twitter Could Face Mortal Danger from Facebook</a>
        <span class = "domain">
          (technologyreview.com)
        </span></p>
        <p class = "post_info">
          1 point by <a href ="www.slackernews.com/user?id=myspace">myspace</a> <a href = "www.slackernews.com/item?id=37">8 days ago</a> | <a href = "www.slackernews.com/item?id=37">1 comment</a>
        </p>
        <p class = "spacing"></p>


        <p class = "title">
          11.<img class = "arrow" src ="https://news.ycombinator.com/grayarrow.gif" alt="upvote arrow"/><a class = "post_title" href = "http://www.theguardian.com/notesandqueries/query/0,,-83446,00.html">Plants feel pain. Eating fruits and veggies is murder.</a>
        <span class = "domain">
          (theguardian.com)
        </span></p>
        <p class = "post_info">
          754 points by <a href ="www.slackernews.com/user?id=totallynotcows">totallynotcows</a> <a href = "www.slackernews.com/item?id=6236">4 weeks ago</a> | <a href = "www.slackernews.com/item?id=6236">642 comment</a>
        </p>
        <p class = "spacing"></p>
        <span id = "nomore">No More, too bad.</span>
    </div>

    <div id = "footer">
      <hr>

      <!-- <form action="/articles" method="post">
      <label for="article">add article:</label>
      <input type="text" id="article" name="article">
      <input type="submit"> -->

      <form action="/articles" method="post" enctype="multipart/form-data">
        Article Title: <input type="text" name="title">
        Url: <input type="text" name="article_url"><br>
        Description: <input type="text" name="description"><br>
        <input type="submit" value="Submit">
      </form>


      </form>

        <p></p>
        Applications are open for YC Summer 2016
        <p></p>
        <span id = "bottom_links">Guidelines | FAQ | Support | API | Security | Lists | Bookmarklet | DMCA | Apply to YC | Contact </span>
        <p></p>
        <form id = "search" action = "www.google.com">
          Search:
          <input type ="search" name = "googlesearch" />
        </form>
    </div>
  </body>
</html>
