<div id="article_list">

  <form action="/articles" method="post" enctype="multipart/form-data">
    <p>
      <label>Title:</label>
      <input type="text" name="title" class="form">
    </p>
    <p>
      <label>Url:</label>
      <input type="text" name="article_url" class="form">
    </p>
    <p>
      <label>Description:</label>
      <input type="text" name="description" class="big_box">
    </p>

    <input type="submit" value="Submit">
  </form>

</div>
